* {box-sizing: border-box;}

/* Style the navbar */
.topnav {
    overflow: hidden;
    background-color: #222226;
    color:white;
}

/* Navbar links */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Navbar links on mouse-over */
.topnav a:hover {
    background-color: #ffffff;
    color: white;
}

/* Active/current link */
.topnav a.active {
    background-color: #f2ab30;
    color: white;
}
.add-new{
    margin: auto;
    width: 100%;
    background: #222226;
    padding: 0px;
    align-content: center;
    text-align: center;
}

.rightside{
    margin: auto;
    background: #222226;
    align-content: end;
    text-align: end;
    padding: 0px;
}

.topnav .login-container {
    float: right;
}

/* Style the input field inside the navbar */
.topnav input[type=text]{
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
}

.topnav input[type=password]{
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
}

/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .topnav .login-container {
        float: none;
    }

    .add-new{
        float: none;
    }

    .topnav a, .topnav input[type=text], .topnav .login-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav a, .topnav input[type=password], .topnav .login-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav input[type=text]{
        border: 1px solid #ccc;
    }
    .topnav input[type=password]{
        border: 1px solid #ccc;
    }
}