<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Group order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/restInfo.css}">
    <script src="/js/timeout.js"></script>

</head>
<body>
<div class="col-sm">
    <form th:action="@{/}">
        <button type="submit" class="btn btn-warning">Home</button>
    </form>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-style-5">
                <input type="hidden" id="timeCreated" th:field="${order.timeCreated.time}"/>
                <input type="hidden" id="timeouttime" th:field="${order.timeout}"/>
                <legend><span class="number">O</span>Order informations</legend>
                <p th:text="'Creator: ' + ${order.creator}"></p>
                <p id="timeout" th:value=${order.timeout} th:text="'Timeout: ' + ${order.timeout} + ' min'"></p>
                <p>Restaurant: <a th:href="${'http://localhost:8080/aboutRestaurant/' + restaurant.uuid}" th:value="${restaurant.uuid}" th:text="${restaurant.name}"></a></p>
                <p th:text="'Restaurant phone number: ' + ${restaurant.phoneNumber} "></p>
                <input type="text" th:value="${'localhost:8080/employee/order/' + restaurant.uuid + '/' + order.uuid}" id="urlLink">
                <button class="btn btn-secondary" onclick="copyFunction()">Copy URL</button>
                <br/><br/>
                <p id="timerText" style="color:red">Expire time: </p>
                <div hidden th:unless="${order.sent}" id = "sendEmailButton">
                    <form th:action="${'/employee/sendEmail/' + restaurant.uuid + '/' + order.uuid}" method="POST">
                        <button onclick="emailSent()" class="btn btn-success my-2 my-sm-0" type="submit">Send order</button>
                    </form>
                </div>

            </div>

            <div id = "refreshSentID">
                <input type="hidden" id="orderSent" th:field="${order.sent}"/>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-style-5">
                <form id="inputItemForm" class="form-horizontal" th:action="${'/employee/addNewItem/' + restaurant.uuid + '/' + order.uuid}" th:object="${item}" th:value="${order.uuid}" method="post">
                    <fieldset>
                        <legend><span class="number">I</span>Add new Item</legend>
                        <input type="text" class="form-control" id="itemName" placeholder="Enter item name..." th:field="*{itemName}">
                        <span style="color:darkred" th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}"></span>

                        <input type="number" step=0.01 class="form-control" id="price" placeholder="Enter price..." th:field="*{price}">
                        <span style="color:darkred" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>

                        <input type="text" class="form-control" id="employeename" placeholder="Enter employe namee..." th:field="*{employeeName}">
                        <span style="color:darkred" th:if="${#fields.hasErrors('employeeName')}" th:errors="*{employeeName}"></span>
                    </fieldset>

                    <button id="addItemBtn" type="submit" class="btn btn-success">Add item</button>
                </form>
            </div>
        </div>
    </div>

    <div hidden id="emailSentMsg" class="text-center">
        <hr/>
        <div class="alert alert-info">Email sent.</div>
    </div>
</div>

<div class="container">
    <legend><span class="number">i</span>Order informations</legend>
    <div id="refresh">
        <input id="restaurantUUID" type="hidden" th:field="${restaurant.uuid}"/>
        <input id="orderUUID" type="hidden" th:field="${order.uuid}"/>

        <table id="itemTable" class="itemTable">
            <thead class="thead-dark">
            <tr>
                <th>Employee name</th>
                <th>Item name</th>
                <th>Item price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${itemsList}">
                <td th:text="${item.employeeName}"></td>
                <td th:text="${item.itemName}"></td>
                <td th:text="${item.price}"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td th:text="'Total sum: ' + ${totalSum}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>