<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="col-sm">
    <form th:action="@{/restaurants}">
        <button type="submit" class="btn btn-warning">Home</button>
    </form>
</div>
<div id="login">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div th:if="${registerSuccessful}" class="text-center">
                    <div class="alert alert-info">Registration successful.</div>
                </div>
                <div th:if="${param.error}" class="text-center">
                    <div class="alert alert-danger">Incorrect username or password.</div>
                </div>
            </div>
            <div class="col-sm"> </div>
        </div>
    </div>

    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" th:action="@{/login}" method="post">
                        <h3 class="text-center text-info">Login</h3>
                        <div class="form-group">
                            <label for="email" class="text-info">Email:</label><br>
                            <input type="text" name="email" id="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input type="password" name="password" id="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="Submit" name="Submit" class="btn btn-info btn-md" value="Login">
                        </div>

                        <a class = "text-muted" th:href="@{/register}">No account? Register here</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>