<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Group Order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/restInfo.css}">
</head>
<body>
<div class="col-sm">
    <form th:action="@{/}">
        <button type="submit" class="btn btn-warning">Home</button>
    </form>
</div>

<div class="form-style-5">
    <form class="form-horizontal" th:action="${'/employee/order/' + restaurant.uuid}" th:object="${order}" th:value=${restaurant.uuid} method="POST">
        <input type="hidden" th:field="*{id}"/>
        <fieldset>
            <legend><span class="number">G</span>Create new Group order</legend>
            <input type="text" class="form-control" id="creator" placeholder="Enter creator name..." th:field="*{creator}">
            <span style="color:darkred" th:if="${#fields.hasErrors('creator')}" th:errors="*{creator}"></span>

            <input type="number" class="form-control" min="1" max="60" id="timeout" placeholder="Enter timeout(minutes)..." th:field="*{timeout}">
            <span style="color:darkred" th:if="${#fields.hasErrors('timeout')}" th:errors="*{timeout}"></span>
        </fieldset>

        <button type="submit" class="btn btn-success">Make Order</button>
    </form>
</div>
</body>
</html>