<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restaurants</title>
    <style>

        .table {
            border: 1px solid black;
            height: 200px;
        }

        .table, .th, .td {
            width: 100%;
            text-align: center;
            border-collapse: collapse;
        }

        tr:hover {
            background-color: #efe9de;
        }

        .table-header {
            background-color: #000000;
            color: #e8a840;
        }

        #munchies-text {
            color: #e8a840;

        }

        .center-text {
            text-align: center;
        }

    </style>
</head>
<body>

<div class="center-text">
    <h4>List of all restaurants</h4>
</div>

<table id="restaurantList" class="table">
    <thead>
    <tr class="table-header">
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th scope="co1">Delivery Info</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="restaurant : ${restList}">
        <td th:text="${restaurant.name}"></td>
        <td th:text="${restaurant.address}"></td>
        <td th:text="${restaurant.email}"></td>
        <td th:text="${restaurant.phoneNumber}"></td>
        <td th:text=${restaurant.deliveryInfo}></td>
    </tr>
    </tbody>
</table>
<br/>

<div class="center-text">
    <h4>Thanks for using our service.</h4>
    <a href=http://localhost:8080><h4 id="munchies-text">Munchies</h4></a>
</div>

</body>
</html>