<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

    <div class="topnav">
        <a class="active"><h5>Munchies</h5></a>
        <form class="login-container" th:action="@{/login}" method="get"  sec:authorize="isAnonymous()">
            <input class="form-control mr-sm-2" type="hidden" />
            <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
        </form>
        <form class="login-container" th:action="@{/logout}" method="post"  sec:authorize="isAuthenticated()">
            <input class="form-control mr-sm-2" type="hidden" />
            <button class="btn btn-danger my-2 my-sm-0" type="submit">Logout</button>
        </form>
        <form class="login-container" th:action="@{/admin/sendAllRestaurantsEmail}" method="get"  sec:authorize="isAuthenticated()">
            <input class="form-control mr-sm-2" type="hidden" />
            <button onclick="alert('Email sent.')" class="btn btn-success my-2 my-sm-0" type="submit">Email me all restaurants</button>
        </form>
    </div>
    <div class="add-new">
        <form th:action="@{/admin/newRestaurant}" method="get">
            <button type="submit" class="btn btn-primary" sec:authorize="isAuthenticated()">Add new restaurant</button>
        </form>
    </div>
    <div class="rightside">
        <form th:action="@{/register}" method="get"  sec:authorize="isAnonymous()">
            <button class="btn btn-info my-2 my-sm-0" type="submit">Register</button>
        </form>
    </div>

    <table id="restaurantList" class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Short name</th>
            <th scope="col">Address</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email</th>
            <th scope="co1"></th>
            <th scope="co1">Options</th>
            <th scope="co1"></th>
            <th scope="co1" sec:authorize="isAuthenticated()"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="restaurant : ${restList}">
            <td th:text="${restaurant.name}"></td>
            <td th:text="${restaurant.restaurantShortName()}"></td>
            <td th:text="${restaurant.address}"></td>
            <td th:text="${restaurant.phoneNumber}"></td>
            <td th:text="${restaurant.email}"></td>
            <td><form th:action="${'/aboutRestaurant/' + restaurant.uuid}" th:value="${restaurant.uuid}">
                <button type="submit" class="btn btn-info">Details</button>
            </form></td>
            <td><form th:action="${'/file/' + restaurant.menuLink}" th:value="${restaurant.menuLink}">
                <button type="submit" class="btn btn-secondary">See menu</button>
            </form></td>
            <td><form th:action="${'/employee/makeGroupOrder/' + restaurant.uuid}" method="get" th:value="${restaurant.uuid}">
                <button type="submit" class="btn btn-dark">Make group order</button>
            </form></td>

            <td sec:authorize="isAuthenticated()"><form th:action="${'/admin/showAllOrders/' + restaurant.uuid}" method="get" th:value="${restaurant.uuid}">
                <button type="submit" class="btn btn-secondary">Show all orders</button>
            </form></td>
        </tr>
        </tbody>
    </table>

</body>
</html>