<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/restInfo.css}">
    <title>Restaurant</title>
</head>
<body>
<div class="col-sm">
    <form th:action="@{/restaurants}">
        <button type="submit" class="btn btn-warning">Home</button>
    </form>
</div>
<br/>
<div class="form-style-5">
    <form class="form-horizontal" th:action="@{/admin/saveRestaurant/}" th:object="${restaurant}" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend><span class="number">R</span>Restaurant Info</legend>
            <input type="text" class="form-control" id="name" placeholder="Enter restaurant name..." th:field="*{name}">
            <span style="color:darkred" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

            <input type="text" class="form-control" id="address" placeholder="Enter address..." th:field="*{address}">
            <span style="color:darkred" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>

            <input type="text" class="form-control" id="phoneNumber" placeholder="Enter phone number..." th:field="*{phoneNumber}">
            <span style="color:darkred" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>

            <input type="text" class="form-control" id="deliveryInfo" placeholder="Enter delivery information..." th:field="*{deliveryInfo}">
            <span style="color:darkred" th:if="${#fields.hasErrors('deliveryInfo')}" th:errors="*{deliveryInfo}"></span>

            <input type="text" class="form-control" id="email" placeholder="Enter email..." th:field="*{email}">
            <span style="color:darkred" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

            <div sec:authorize="isAuthenticated()" class="form-group">
            <input id="uploadFile" type="file" name="file" />
            </div>
            <input type="hidden" th:field="${restaurant.id}"/>
        </fieldset>

        <!-- Ovo vidi samo admin -->
        <button type="submit" class="btn btn-success" sec:authorize="isAuthenticated()">Save</button>
    </form>
    <br/>

    <!-- Ovo vidi samo admin -->
    <form th:if="${restaurant.name != null}" th:action="${'/admin/deleteRestaurant/' + restaurant.uuid}" th:value="${restaurant.uuid}" onSubmit="if(!confirm('Are you sure?')){return false;}">
        <button type="submit" class="btn btn-danger" sec:authorize="isAuthenticated()">Delete</button>
    </form>

</div>
</body>
</html>