<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All orders</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/restInfo.css}">
    <script src="/js/refreshactive.js"></script>
<body>
<div class="col-sm">
    <form th:action="@{/restaurants}">
        <button type="submit" class="btn btn-warning">Home</button>
    </form>
</div>

<div class="container">
    <legend><span class="number">R</span>All orders</legend>
    <div id="allOrdersTable">
        <table class="itemTable">
            <thead>
            <tr>
                <th>Creator</th>
                <th>Timeout</th>
                <th>Restaurant</th>
                <th>More information</th>
            </tr>
            </thead>
            <tbody>
            <input type="hidden" id="restaurantUuid" th:field="${restaurant.uuid}"/>
            <tr th:each="order : ${ordersList}">
                <td th:text="${order.creator}"></td>
                <td th:text="${order.timeout}"></td>
                <td th:text="${restaurant.name}"></td>
                <td><a th:href="${'http://localhost:8080/employee/order/' + restaurant.uuid + '/' + order.uuid}" th:text="Details"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>